.add-link-button{
  width: 127px;
}

.links-td {
  padding: 3px;
}

.action-padding {
  padding: 0 5px;
}

.table-custom {
  margin-bottom: 0;
}

.col-md-1 {
  min-width: 150px;
}

.col-md-11 {
  max-width: calc(100% - 150px);
}

.link-name {
  max-width: 0;
  min-width: 50%;
}
