.app-footer {
  min-height: $footer-height - 1px;
  padding: 0 $spacer-x;
  line-height: $footer-height - 1px;
  color: $footer-color;
  background: $footer-bg;
  @include borders($footer-borders);
}
