:host {
  display: inline-block;
  background: #ccc;
  padding: 7px;
  border-radius: 0px;
  margin-right: 10px;
  margin-bottom: 4px;
}

:host.crm-tag-input-item-selected {
  color: white;
  background: #0d8bff;
}

.crm-tag-input-remove {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px;
}
