<div class="animated fadeIn">
  <div class="row">
    <!--<div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">-->

      <!--<div class="row">-->
        <!--<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">-->
          <!--<crm-orders-by-period-chart></crm-orders-by-period-chart>-->
        <!--</div>-->

        <!--<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">-->

          <!--<div class="row">-->
            <!--<div class="col-md-12">-->
              <!--<crm-completed-orders-number></crm-completed-orders-number>-->
            <!--</div>-->

            <!--<div class="col-md-12">-->
              <!--&lt;!&ndash;<crm-completed-orders-number></crm-completed-orders-number>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->

      <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
          <!--<crm-orders-states-chart></crm-orders-states-chart>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->

    <!--<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">-->
      <!--<crm-user-tasks></crm-user-tasks>-->
    <!--</div>-->
  </div>

</div>
